@model Ohb.Mvc.Models.SearchResultsModel
@{
    ViewBag.Title = Model.Terms;
    ViewBag.SearchQuery = Model.Terms;
}
<div class="row">
    <div class="span16">
        <h1>Search results for "@Model.Terms"</h1>
    </div>
</div>

@foreach (Ohb.Mvc.Models.BookSearchResult book in Model.Results)
{
    <text>
    <div class="row">
        <div class="span2">
            <img src="@book.SmallThumbnailUrl" alt="@book.Title" />
        </div>
        <div class="span14">
            <h3>@Html.ActionLink(@book.Title, "Get", "Books", new { id = @book.Id }, null)</h3>
            <p>@book.Author (@book.Id)</p>
        </div>
    </div>
    </text>
}
